//VARIABLES
$txt-color:#000;
$bg-color:rgb(255, 255, 255);
$bg-color-li-hover:rgb(133, 133, 133);

//MIXIN
@mixin color {
    color: $txt-color;
    background-color: $bg-color;
}

@mixin color-hover {
    li.categoria:hover{
        background-color: $bg-color-li-hover;
    }
}

@mixin box-sizing($bs) {
    -webkit-box-sizing: $bs;
    -moz-box-sizing: $bs;
    box-sizing: $bs;
}

@mixin transiciones($property, $duration, $timing:linear) {
    -moz-transition: $property $duration $timing;
    -webkit-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin animaciones($name, $duration, $timing:linear) {
    -moz-animation: $name $duration $timing;
    -webkit-animation: $name $duration $timing;
    animation: $name $duration $timing;
}

@import "_menu-admin.scss";

body {
    padding: 0px;
    margin: 0px;
    background-color: #aaa;
}

header {
    padding: 12px 30px;
    font-size: 1.8em;
    color: #444;
    background-color: #eee;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    @include color();
    @include box-sizing(border-box);
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
}