main{
    padding: 1% 5%;
}

#preguntas{
    overflow-y: scroll;
    margin-top: 5px;
    float: left;
    width: 100%;
    min-height: 208px;
    max-height: 208px;
    border: 2px solid black;
}

#seleccionadas{
    overflow-y: scroll;
    margin-top: 5px;
    width: 100%;
    float: left;
    min-height: 208px;
    max-height: 208px;
    border: 2px solid black;
}

#general{
    margin: 20px 0;
}

.pregunta{
    
    height:50px;
    border:1px solid;
    background-color:beige;
}

#izq{
    width: 31%;
    float: left;
}

#der{
    width: 31%;
    float: right;
    
}

div.marcado{
    border:1px solid blue;
}

div.oculto{
    display:none;
}