main {
  margin-left: 25px;
}

nav {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-menu {
  --bs-dropdown-min-width: none;
  --bs-dropdown-padding-x: none;
}

div .login {
  background-color: grey;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.btn-login {
  margin-top: 2%;
  text-align: center;
}

.btn-login #entrar {
  max-width: 50%;
}

button#tutoriales:hover {
  height: 35px;
  width: 100px;
  overflow: hidden;
  color: #fff;
  background-color: #3a3a3a;
}

.empresa {
  margin-left: 2%;
  margin-bottom: 2%;
}

h1.nombreEmpresa > button {
  font-size: 22px;
}

h2.descrConvenio > button {
  font-size: 20px;
}

h3.sede > button {
  font-size: 18px;
}

h4.nombreAlumno {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline;
}

h4.nombreAlumno > button {
  font-size: 17px;
}

div.collapse {
  padding-left: 10px;
}

div.visita {
  margin-bottom: 1px;
}

div.visitas {
  padding-bottom: 10px;
}

#checkprofesor {
  margin-left: 0;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #157347;
  --bs-btn-border-color: #157347;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #438f6b;
  --bs-btn-hover-border-color: #2c8159;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2c8159;
  --bs-btn-active-border-color: #12673f ;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #157347;
  --bs-btn-disabled-border-color: #157347;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    margin: 0 0 1rem 0;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
  }
  /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
  td:nth-of-type(1):before {
    content: "Fecha Inicio";
  }
  td:nth-of-type(2):before {
    content: "Hora Inicio";
  }
  td:nth-of-type(3):before {
    content: "Fecha Fin";
  }
  td:nth-of-type(4):before {
    content: "Hora Fin";
  }
  td:nth-of-type(5):before {
    content: "";
  }
  .fechas {
    width: 90%;
  }
}

footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
}

footer hr {
  size: 20px;
}
/*# sourceMappingURL=screen.css.map */